/* Imagem principal  */
main{
    height: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0,0,0,0.8),transparent),url("../img/backgroundGames.jpg");
    background-attachment: fixed; 
    /* O que é o background attachment */
}

main h1{
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
}