@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


/* Imagem principal  */
main {
    height: 100%;
    height: 100vh;
    background-image: url('/Projetos/centralGames/img/backgroundGames.jpg');
}



@media screen and (max-width:730px) {
    .navigation {
        padding: 20px 40px;
        position: sticky;
        background-color: #1C1C1C;
    }

    .navigation ul {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
    }

    .icon {
        width: 3vh;
    }

    .navigation .logo {
        font-size: 1.5em;
    }

    .mobile-menu {
        display: none;
        background-color: #1C1C1C;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    main {
        background-image: url('/Projetos/centralGames/img/backgroundMobile.png');
        background-size: cover;
    }


}