.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    position: fixed;
    top: 0;
}


.navigation .logo {
    color: white;
    font-weight: 800;
    font-size: 2em;
}



.navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;

}


.navigation i {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}


.navigation.scrollando {
    background-color: #1C1C1C;
    transition: all 0.5s;
}

.logo span {
    color: var(--red);
}

li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;

}

li a::after {
    content: " ";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

}

a:hover::after {
    width: 100%;
}

.login-button button {
    border: none;
    background-color: var(--red);
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;

}

.login-button button:hover {
    background-color: #a13244;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}