
/* Navegação */
.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    position: fixed;
    top: 0;
    z-index: 1;
}


.navigation .logo {
    color: white;
    font-weight: 800;
    font-size: 2em;
}



.navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    padding: 0;
    margin: 0;

}



.navigation.scrollando {
    background-color: #151515;
    transition: all 1.5s;
}

.logo span {
    color: #FF0000;
}

li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;

}

li a::after {
    content: " ";
    position: absolute;
    background-color: #FF0000;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

}

.navigation a:hover::after {
    width: 100%;
}

.login-button button {
    border: none;
    background-color: #FF0000;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;

}

.login-button a{
    color: white;
    text-decoration: none;
}

.login-button button:hover {
    background-color: #FF0000;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Conteúdo Principal */

/* Imagem principal  */
section.parallax{
    width:100%;
    height:100vh;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    /* O que é o background attachment */
}

section#img1{
    background-image: linear-gradient(to right,rgba(0,0,0,1) 20%,transparent),url("../img/parallax-1.jpg");
}

section#img2{
    background-image: linear-gradient(to right,rgba(0,0,0,1) 20%,transparent),url("../img/parallax-2.jpg");
}

main .title{
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    font-size: 4rem;
    font-weight: 300;
}

section{
    width: 100%;
    height: 50vh;
}

.noticias{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #151515;
    height: 100vh;
}

.noticias .content{
    width: 80%;
    height: 80%;
    font-weight: 600;
}

.parallax#img2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax#img2 .games{
    width: 80%;
    height: 80%;
}

.list{
    display: flex;
    width: 100%;
    height: 60vh;
}



.list .card-item .card-link{
    display: block;
    position: absolute;
    width: 400px;
    text-decoration: none;
    object-fit: cover; 

}

.list .card-item{
    display: flex;
    width: 100%;
    height: 80vh;
}

.card-link img{
    width: 100%;
    border-radius: 5px;
}

.card-link .overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
}

.card-link:hover{
    border: 1px solid red;
    border-radius: 5px;
}

.card-link:hover .overlay{
    height: 50%;
}

.text{
    position: absolute;
    font-size: 20px;
    
    top: 50%;
    left: 25%;
    translate:(-50%,-50%);
    white-space: nowrap;
}



/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    letter-spacing: 1px;
    background-color: #151515;

}

footer div{
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

footer div:first-child{
    height: 8vh;
}

footer div a{
    width: 8vw;
    text-align: center;
}



.bi{
    color: white;
    font-size: 1.5em;
}

/* Visualização mobile */

@media screen and (max-width:736px) {
    .navigation {
        padding: 20px 40px;
        position: sticky;
        background-color: #151515;
    }

    .navigation ul {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
    }

    .icon {
        width: 3vh;
    }

    .navigation .logo {
        font-size: 1.5em;
    }

    .mobile-menu {
        display: none;
        background-color: #151515;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .list .card-item .card-link{
        width: 70%;
    }





}

