@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}



main{
    height: 100%;
    height: 100vh;
    background-image: url('img/backgroundGames.jpg');
    
    
}

.navigation.scrollando{
    background-color: #1C1C1C;
    transition: all 0.5s;
}

.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    position: fixed;
    top: 0;
}

:root{
    --fundo:#1C1C1C;
    --corP:white;
    --corS:#B22222
    
}

.navigation .logo{
    color: var(--corP);
    font-weight: 800;
    font-size: 2em;
}

.logo span{
    color: var(--corS);
}

.navigation ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    
}



.navigation i{
    color: var(--corP);
    font-size: 1.5em;
    cursor: pointer;
}



li a{
    position: relative;
    text-decoration: none;
    color: var(--corP);
    font-size: 1.2em;
    
}

a{
    text-decoration: none;
    color: var(--corP);
    font-size: 1.2em;

}

li a::after{
    content: " ";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

a:hover::after{
    width: 100%;
}

.login-button button{
    border: none;
    background-color: var(--corS);
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;

}

.login-button button:hover{
    background-color: #a13244;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.background-cards{
    background: #1C1C1C;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
    
}

.background-cards img{
    width: 15vw;
    border-radius: 4px;
}

.box-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 50% ;

}

.box-img button{
    padding: 1em;
    border-radius: 5px;
    background-image: linear-gradient(to right,var(--corS),#f94449); 
    color: white;
    font-weight: 600;
    font-size: 1em;
    border: none;
    
}

.background-cards .box-img h3{
    color: white;
}

.background-cards .box-img:nth-child(2n) img{
    background-color: white;
    border-radius: 4px;
}

/* .background-cards .box-img:last-child h3{
    width: 50%;
    text-align: center;
    
} */


@media screen and (max-width:730px){
    .navigation{
        padding: 20px 40px;
        position: sticky;
        background-color: #1C1C1C;
    }

    .navigation ul{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background: transparent;
        border: none;
    }

    .icon{
        width: 3vh;
    }

    .navigation .logo{
        font-size: 1.5em;
    }

    .mobile-menu{
        display: none;
        background-color: #1C1C1C;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem ;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    
    main{
        background-image: url('img/backgroundMobile.png');
        background-size: cover;
    }
    
    
}













